@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Spline+Sans+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container {
  width: 100%;
}
.row-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.column-1 {
  background-color: #1d1c24;
  /* border: 2px solid red; */
  width: 10%;
  display: block;
}
.logo {
  display: flex;
  font-size: 30px;
  padding: 10px;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.logo h3 {
  color: #2f2e36;
}

.logo h4 {
  background-color: #2f2e36;
  color: #1d1c24;
}
.nav-menu {
  margin: 100px auto;
}
.nav-menu ul {
  display: grid;
  justify-content: center;
  list-style: none;
  margin: 50px auto;
  background-color: #2f2e36;
  width: 70%;
  border-radius: 20px;
}
.nav-menu ul li {
  /* width: 50%; */
}
.nav-menu ul li img {
  width: 30px;
  margin: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.nav-menu ul li img:hover {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}
.avatar {
  display: flex;
  justify-content: center;
  margin: 250px auto auto auto;
}
.avatar img {
  width: 50px;
  cursor: pointer;
}
.column-2 {
  background-color: #0d0d0d;
  width: 60%;
}
.music-menu {
  color: #bcbcbc;
}
.music-menu ul {
  display: flex;
  list-style: none;
  margin: 0px 80px;
}
.music-menu ul li {
  cursor: pointer;
  margin: 20px 30px;
  padding: 5px 10px;
  transition: 0.2s;
}
.music-menu ul li:hover {
  color: #908f8f;
  background-color: #ffffff;
  border-radius: 20px;
}
.banner {
  display: flex;
  justify-content: center;
}
.banner img {
  width: 700px;
  height: 150px;
  border-radius: 15px;
}
.banner-text {
  position: absolute;
  color: #ffffff;
  top: 120px;
  left: 250px;
}
.banner-text h6 {
  font-weight: 500;
  font-size: 15px;
}
.banner-text p {
  font-size: 30px;
  font-weight: 700;
}
.sub-col {
  display: flex;
  justify-content: center;
}
.sub-col-1 {
  margin: 30px 30px 0px 30px;
  width: 50%;
  color: #ffffff;
  text-align: center;
}
.song-list {
  /* background-color: yellow; */
  display: grid;
  justify-content: center;
  margin: 30px 30px 10px 30px;
}
.song1 {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px;

  /* border: 2px solid blue; */
}
.song1 button {
  display: flex;
  width: 100%;
  background-image: linear-gradient(#f9b60d, #f97511);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.song1 button:hover {
  background-image: linear-gradient(#d69c0c, #de680e);
}
.song1 button img {
  width: 40px;
}
.song1 button p {
  margin: 10px 30px 10px 10px;
  text-align: left;
  width: 150px;
}
.song1 button span {
  display: flex;
  align-self: center;
}
.song2 {
  display: flex;
  align-items: center;
  width: 100%;
  /* margin: 5px; */
  /* border: 2px solid blue; */
}
.song2 button {
  display: flex;
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.song2 button:hover {
  background-image: linear-gradient(#d69c0c, #de680e);
  cursor: pointer;
}
.song2 button img {
  width: 50px;
}
.song2 button p {
  margin: 10px 30px 10px 10px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 150px;
}
.song2 button span {
  display: flex;
  align-self: center;
  text-align: right;
}

.sub-col-2 {
  margin: 30px 30px 0 30px;
  width: 50%;
  color: #ffffff;
  text-align: center;
}
.music-like {
  display: grid;
  justify-content: center;
  margin: 30px 30px 10px 30px;
}
.ml1 {
  display: flex;
  align-items: center;
  width: 100%;
  /* margin: 5px; */
  /* border: 2px solid blue; */
}
.ml1 button {
  display: flex;
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
.ml1 button:hover {
  background-image: linear-gradient(#d7d7d7, #4b4b4b);
  cursor: pointer;
}
.ml1 button img {
  width: 50px;
  border-radius: 30px;
}
.ml1 button p {
  margin: 10px 30px 10px 10px;
  text-align: left;
  width: 150px;
}
.ml1 button span {
  display: flex;
  align-self: center;
  text-align: right;
}
.player-menu {
  /* background-color: chartreuse; */
  margin: 50px 50px;
  display: flex;
  justify-content: center;
}
.lpm {
  width: 25%;
}
.lpm img {
  width: 30px;
  margin: 5px;
  background-color: #908f8f;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}
.play-pause {
  width: 50%;
  display: flex;
  justify-content: center;
}
.play-pause img {
  background-color: #908f8f;
  border-radius: 20px;
  padding: 5px;
  width: 35px;
  margin: auto 7px;
  cursor: pointer;
}
.play-pause img:hover {
  padding: 7px;
}

#fb {
  background-image: linear-gradient(#f9b60d, #f97511);
}

.volume {
  width: 25%;
  display: flex;
  justify-content: right;
}
.volume img {
  width: 20%;
  margin: 5px;
  background-color: #908f8f;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.volume input {
  width: 60%;
  cursor: pointer;
}
.song-range {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px auto;
}
.song-range p {
  width: 5%;
}
.song-range input {
  width: 80%;
}
.song-range p {
  color: #373542;
  margin: auto 10px;
}
.column-3 {
  width: 30%;
  background-color: #1d1c24;
}
.search {
  width: 100%;
  background-color: #1d1c24;
  display: flex;
  justify-content: center;
  margin: 20px auto 0px auto;
}
.search i {
  /* background-color: #0039ab; */
  text-align: center;
  width: 10%;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
}
.search input {
  width: 60%;
  background-color: transparent;
  border: none;
  margin: 10px;
  color: #ffffff;
}
.search input:focus {
  outline: none;
}
.search img {
  width: 10%;
  height: auto;
  padding: 5px;
  cursor: pointer;
}
.search-tags {
  padding: 40px 20px;
}
.search-tags h2 {
  color: white;
}
.tag1 {
  display: flex;
  text-align: left;
  margin: 20px auto;
}
.tag1 p {
  font-size: 15px;
  font-weight: 600;
  background-color: #373542;
  margin: 5px;
  padding: 5px 25px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(167, 167, 167);
}
.tag1 p:hover {
  background-color: #4f4c5b;
}
.podcast {
  padding: 0px 20px;
}
.podcast h2 {
  color: white;
}
.podcast-cont {
  display: flex;
  margin: auto auto 30px auto;
}
.podcast-cont p {
  background-color: brown;
  margin: 5px;
  width: 32%;
  height: 110px;
  background-image: linear-gradient(#0039ab, #de5645);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.podcast-cont p:hover {
  background-image: linear-gradient(#022d83, #bc3f2e);
}
.review {
  margin: 25px 30px;
  width: 100%;
}
.reviewer {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: transparent;
  padding: 5px;
  border-radius: 20px;
  width: 95%;
}
.reviewer img {
  width: 60px;
  height: 60px;
}
.text {
  margin: auto 20px;
  width: 55%;
  color: white;
  font-size: small;
}

.review-cont {
  margin: 10px;
  font-size: 12px;
  color: rgb(174, 169, 169);
}
.phone {
  background-color: #2f2e36;
  display: flex;
  width: 85%;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}
.phone img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.reminder {
  width: 80%;
  margin: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reminder img {
  width: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.reminder img:hover {
  background-color: #d69c0c;
  border-radius: 10px;
  padding: 7px;
}
.reminder p {
  margin: 20px;
}
